# AIPI 510: Team Assignment 2 - Data Storage and Access (SQL)

## Owais Kamdar, Rajiv Raman

We are submitting our code for this assignment in the Python notebook format. **To run the code, click "Run All" to evaluate all the cells.** Comments throughout the code will indicate where the CREATE, READ, UPDATE, and DELETE requirements are satisfied.

Note: make sure that the filename string is the correct pathway to the data file.

In [168]:
import sqlite3
import pandas as pd
import os
from IPython.display import display

filename = "/Users/rajivraman/Downloads/tips.csv"; # change to match the pathway of tips.csv

# define the sqlquery function to execute a given SQL query on a given SQL database connection

def sqlquery(connection,prompt):
    try:
        cur = connection.cursor() # try to create a cursor for an SQL query
        cur.execute(prompt) # prompt parameter is fed in as SQL query
        results = cur.fetchall() # store all results from the query in a variable
        if len(results) > 0: # if the query returned a nonzero number of results
            return results # return the results
        else:
            return "No results found." # return the message that no data entry matched the query
        
    except sqlite3.Error as e:
        print(f"SQL query execution error: {e}") # print error message if the SQL query cannot be performed

try: 
    conn = sqlite3.connect("test1") # open the connection to an SQL database named test1
    print("Connected to the SQL Database! Executing all queries...\n")
    
    data = pd.read_csv(filename) # store the data from tips.csv in this variable
    
    try:
        data.to_sql('table1',conn,index=False,if_exists='replace') # the CREATE step - forms the SQL database from tips.csv
    except Exception as e:
        print(f"Data upload error: {e}") # print error message if data cannot be uploaded to the SQL database
        
    # the READ step is fully satisfied below - all 10 requested SQL queries plus 5 custom queries have been written
        
    # SQL query for #1. Retrieve the average tip percentage for each day of the week.
        
    sql1 = sqlquery(conn,"SELECT day, AVG(tip/total_bill * 100) FROM table1 GROUP BY day")
    
    # SQL query for #2. Find the minimum and maximum total bill amounts.
    
    sql2 = sqlquery(conn,"SELECT MIN(total_bill), MAX(total_bill) FROM table1")
    
    # SQL query for #3. Count the number of parties for each size.
    
    sql3 = sqlquery(conn,"SELECT size, COUNT(total_bill) FROM table1 GROUP BY size")
    
    # SQL query for #4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%.
    
    sql4 = sqlquery(conn,"SELECT size, total_bill, tip, tip/total_bill * 100 FROM table1 WHERE size >= 4 AND tip/total_bill * 100 > 15")
    
    # SQL query for #5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order.
    
    sql5 = sqlquery(conn,"SELECT day, time, tip, total_bill, tip/total_bill * 100 FROM table1 ORDER BY day, time, tip/total_bill * 100 DESC")
    
    # SQL query for #6. Find the average tip percentage for each combination of day, time, and smoker status.
    
    sql6 = sqlquery(conn,"SELECT day, time, smoker, AVG(tip/total_bill * 100) FROM table1 GROUP BY day, time, smoker")

    # SQL query for #7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records.
    
    sql7 = sqlquery(conn,"SELECT sex, total_bill, tip, tip/total_bill * 100 FROM table1 ORDER BY total_bill DESC LIMIT 5")
    
    # SQL query for #8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount.
    
    sql8 = sqlquery(conn,"SELECT day, time, tip/total_bill * 100, tip, total_bill FROM table1 WHERE tip/total_bill * 100 = (SELECT MAX(tip/total_bill * 100) FROM table1 AS temp WHERE temp.day = table1.day AND temp.time = table1.time) OR tip/total_bill * 100 = (SELECT MIN(tip/total_bill * 100) FROM table1 AS temp WHERE temp.day = table1.day AND temp.time = table1.time) ORDER BY day, time, tip/total_bill * 100")
    
    # SQL query for #9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100.
    
    sql9 = sqlquery(conn,"SELECT total_bill, tip, tip/total_bill * 100 FROM table1 WHERE size >= 4 AND tip/total_bill * 100 > 15 AND total_bill <= 100 AND total_bill >= 50")
    
    # SQL query for #10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records.
    
    sql10 = sqlquery(conn,"SELECT day, time, smoker, AVG(tip/total_bill * 100) FROM table1 GROUP BY day, time, smoker HAVING COUNT(*) > 5")
    
    # Extra SQL query #1. Compute the total tip per day.
    
    xsql1 = sqlquery(conn,"SELECT day, SUM(tip) AS total_tip FROM table1 GROUP BY day ORDER BY total_tip DESC")
    
    # Extra SQL query #2. Compute the highest total bill for each party size.
    
    xsql2 = sqlquery(conn,"SELECT size, MAX(total_bill) AS max_total_bill FROM table1 GROUP BY size ORDER BY size")
    
    # Extra SQL query #3. Compute the average tip for each gender.
    
    xsql3 = sqlquery(conn,"SELECT sex, AVG(tip) AS avg_tip FROM table1 GROUP BY sex")
    
    # Extra SQL query #4. Compute the top 3 highest tips for each day.
    
    xsql4 = sqlquery(conn,"WITH ranked_tips AS (SELECT day, tip, ROW_NUMBER() OVER (PARTITION BY day ORDER BY tip DESC) AS rank FROM table1) SELECT day, tip FROM ranked_tips WHERE rank <= 3 ORDER BY day, tip DESC")
    
    # Extra SQL query #5. Compute the number of smokers vs. number of non-smokers by time.
    
    xsql5 = sqlquery(conn, "SELECT time, smoker, COUNT(*) AS count FROM table1 GROUP BY time, smoker ORDER BY time, smoker")
    
    sqlquery(conn,"UPDATE table1 SET smoker = 'Yes' WHERE total_bill = 14.78") # the UPDATE step - changes the smoker entry at ID 10 (not defined inherently in SQL database, so had to pull the $14.78 from entry 10 in spreadsheet) in tips.csv to 'Yes'
    
    sqlquery(conn,"DELETE FROM table1 WHERE total_bill < 10") # the DELETE step - removes all data entries with a total bill less than $10
    
except sqlite3.Error as e:
    print(f"Database connection error: {e}") # print error message if we cannot connect to the database
    
finally: # if everything in the "try" block is finished
    if conn: # and if the SQL connection still exists
        conn.close() # close the connection to the SQL database
        print("\nYour database connection has been closed.")

Connected to the SQL Database! Executing all queries...


Your database connection has been closed.

In [169]:
print("1. Retrieve the average tip percentage for each day of the week.") # question corresponding to SQL query 1
df1 = pd.DataFrame(sql1,columns=["Day","Mean Tip Percent"]) # create a table with appropriate columns
response1 = df1.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response1) # display the table

1. Retrieve the average tip percentage for each day of the week.

In [170]:
print("2. Find the minimum and maximum total bill amounts.") # question corresponding to SQL query 2
df2 = pd.DataFrame(sql2,columns=["Minimum Total Bill","Maximum Total Bill"]) # create a table with appropriate columns
response2 = df2.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response2) # display the table

2. Find the minimum and maximum total bill amounts.

In [171]:
print("3. Count the number of parties for each size.") # question corresponding to SQL query 3
df3 = pd.DataFrame(sql3,columns=["Size","Number of Parties"]) # create a table with appropriate columns
response3 = df3.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response3) # display the table

3. Count the number of parties for each size.

In [172]:
print("4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%.") # question corresponding to SQL query 4
df4 = pd.DataFrame(sql4,columns=["Size","Total Bill","Tip","Tip Percent"]) # create a table with appropriate columns
response4 = df4.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response4) # display the table

4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%.

In [173]:
print("5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order.") # question corresponding to SQL query 5
df5 = pd.DataFrame(sql5,columns=["Day","Time","Tip","Total Bill","Tip Percent"]) # create a table with appropriate columns
response5 = df5.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response5) # display the table

5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order.

In [174]:
print("6. Find the average tip percentage for each combination of day, time, and smoker status.") # question corresponding to SQL query 6
df6 = pd.DataFrame(sql6,columns=["Day","Time","Smoker","Mean Tip Percent"]) # create a table with appropriate columns
response6 = df6.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response6) # display the table

6. Find the average tip percentage for each combination of day, time, and smoker status.

In [175]:
print("7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records.") # question corresponding to SQL query 7
df7 = pd.DataFrame(sql7,columns=["Sex","Total Bill","Tip","Tip Percent"]) # create a table with appropriate columns
response7 = df7.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response7) # display the table

7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records.

In [176]:
print("8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount.") # question corresponding to SQL query 8
df8 = pd.DataFrame(sql8,columns=["Day","Time","Max or Min Tip Percent","Tip","Total Bill"]) # create a table with appropriate columns
response8 = df8.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response8) # display the table

8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount.

In [177]:
print("9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100.\n") # question corresponding to SQL query 9
display(sql9) # display the output of the sqlquery function

9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100.

'No results found.'

In [178]:
print("10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records.") # question corresponding to SQL query 10
df10 = pd.DataFrame(sql10,columns=["Day","Time","Smoker","Mean Tip Percent"]) # create a table with appropriate columns
response10 = df10.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(response10) # display the table

10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records.

In [179]:
print("X1. Compute the total tip per day.") # question corresponding to extra SQL query 1
dfx1 = pd.DataFrame(xsql1,columns=["Day","Total Tip"]) # create a table with appropriate columns
responsex1 = dfx1.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(responsex1) # display the table

X1. Compute the total tip per day.

In [180]:
print("X2. Compute the highest total bill for each party size.") # question corresponding to extra SQL query 2
dfx2 = pd.DataFrame(xsql2,columns=["Size","Highest Total Bill"]) # create a table with appropriate columns
responsex2 = dfx2.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(responsex2) # display the table

X2. Compute the highest total bill for each party size.

In [181]:
print("X3. Compute the average tip for each sex.") # question corresponding to extra SQL query 3
dfx3 = pd.DataFrame(xsql3,columns=["Sex","Mean Tip"]) # create a table with appropriate columns
responsex3 = dfx3.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(responsex3) # display the table

X3. Compute the average tip for each sex.

In [182]:
print("X4. Compute the top 3 highest tips for each day.") # question corresponding to extra SQL query 4
dfx4 = pd.DataFrame(xsql4,columns=["Day","3 Highest Tips Per Day"]) # create a table with appropriate columns
responsex4 = dfx4.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(responsex4) # display the table

X4. Compute the top 3 highest tips for each day.

In [183]:
print("X5. Compute the number of smokers vs. number of non-smokers by time.") # question corresponding to extra SQL query 1
dfx5 = pd.DataFrame(xsql5,columns=["Time","Smoker","Count"]) # create a table with appropriate columns
responsex5 = dfx5.style.hide_index().set_properties(**{'background-color': 'lightblue','border': '2px solid black'}) # format table to remove row labels and add a colored background
display(responsex5) # display the table

X5. Compute the number of smokers vs. number of non-smokers by time.