# AIPI510 Fall 2024 Assignment # 2

## Team Details

**Team name:** Forever Loop

**Team members:** Santosh Ganesan, Haran Nallasivan

### CREATE
You have been provided with a sample .csv file. Create a SQLite database in Python using the data in this sample .csv file.

#### Imports

In [2]:
import pandas as pd
import sqlite3

#### Exploratory analysis of the data

In [3]:

df = pd.read_csv('data/tips.csv')
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### Create the SQLite database

In [4]:

with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''CREATE TABLE tips (total_bill,tip,sex,smoker,day,time,size)''')
    conn.commit()

#### Verify connectivity to the database

In [5]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT * from tips;''')
    conn.commit()
    print(c.fetchall())

[]

#### Load data into the database

In [6]:
with sqlite3.connect('tips.db') as conn:
    df = pd.read_csv('data/tips.csv')
    df.to_sql('tips', conn, if_exists='replace', index=False)
    conn.commit()


### READ
Answer the following questions (must show your work via SQL queries):
1. Retrieve the average tip percentage for each day of the week

2. Find the maximum and minimum total bull amounts

3. Count the number of parties for each size

4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%


5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order

6. Find the average tip percentage for each combination of day, time, and smoker status

In [37]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT ROUND(AVG(tip/total_bill)*100), day, smoker, time from tips Group by day, smoker, time;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Unique Average', 'Day', 'Smoker', 'Time'])
    print(df)

    Unique Average   Day Smoker    Time
0             14.0   Fri     No  Dinner
1             19.0   Fri     No   Lunch
2             17.0   Fri    Yes  Dinner
3             19.0   Fri    Yes   Lunch
4             16.0   Sat     No  Dinner
5             15.0   Sat    Yes  Dinner
6             16.0   Sun     No  Dinner
7             19.0   Sun    Yes  Dinner
8             16.0  Thur     No  Dinner
9             16.0  Thur     No   Lunch
10            16.0  Thur    Yes   Lunch

7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records

In [36]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill, tip, ROUND(AVG(tip/total_bill)*100), sex from tips Group by total_bill ORDER BY total_bill DESC;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total_Bill', 'Tip Amount', 'Tip Percentage', 'Sex'])
    print(df.head(5))

   Total_Bill  Tip Amount  Tip Percentage   Sex
0       50.81       10.00            20.0  Male
1       48.33        9.00            19.0  Male
2       48.27        6.73            14.0  Male
3       48.17        5.00            10.0  Male
4       45.35        3.50             8.0  Male

8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount

In [39]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT ROUND(MAX(tip/total_bill)*100), ROUND(MIN(tip/total_bill)*100), day, time, total_bill, tip from tips Group by day, time;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Unique Max Percentage', 'Unique Min Percentage','Day','Time','Total_Bill', 'Tip'])
    print(df)

   Unique Max Percentage  Unique Min Percentage   Day    Time  Total_Bill  \
0                   26.0                   10.0   Fri  Dinner       28.97
1                   26.0                   12.0   Fri   Lunch       13.42
2                   33.0                    4.0   Sat  Dinner       32.83
3                   71.0                    6.0   Sun  Dinner       16.99
4                   16.0                   16.0  Thur  Dinner       18.78
5                   27.0                    7.0  Thur   Lunch       18.64

    Tip
0  3.00
1  1.58
2  1.17
3  1.01
4  3.00
5  1.36

9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100

In [42]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill, tip, ROUND((tip/total_bill)*100) As percentage, size from tips where size>=4 and percentage>15 and total_bill between 50 and 100;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total_bill', 'Tip','Percentage','Size'])
    print(df)

Empty DataFrame
Columns: [Total_bill, Tip, Percentage, Size]
Index: []

10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records

In [33]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT ROUND(AVG(tip/total_bill)*100), day, time, smoker from tips GROUP by day, time, smoker Having COUNT(*)>5;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Average Total_bill', 'Day','Time','Smoker'])
    print(df)

   Average Total_bill   Day    Time Smoker
0           16.534736   Fri  Dinner    Yes
1           18.893659   Fri   Lunch    Yes
2           15.804766   Sat  Dinner     No
3           14.790607   Sat  Dinner    Yes
4           16.011294   Sun  Dinner     No
5           18.725032   Sun  Dinner    Yes
6           16.031067  Thur   Lunch     No
7           16.386327  Thur   Lunch    Yes

Come up with your own SQL queries for the table. You must show 5 additional queries beyond the 10 outlined above. 

**After you have performed the above queries:**


### UPDATE
It was determined that there was an error in the database. Please update the record that corresponds to id=10 and set smoker to Yes.



### DELETE
Delete records from the database that have a total bill that is less than $10.