# AIPI510 Fall 2024 Assignment # 2

## Team Details

**Team name:** Forever Loop

**Team members:** Santosh Ganesan, Haran Nallasivan

### CREATE
You have been provided with a sample .csv file. Create a SQLite database in Python using the data in this sample .csv file.

#### Imports

In [2]:
import pandas as pd
import sqlite3

#### Exploratory analysis of the data

In [3]:

df = pd.read_csv('data/tips.csv')
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### Create the SQLite database

In [82]:

with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''CREATE TABLE tips (total_bill,tip,sex,smoker,day,time,size)''')
    conn.commit()

OperationalError: table tips already exists

#### Verify connectivity to the database

In [5]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT * from tips;''')
    conn.commit()
    print(c.fetchall())

[]

#### Load data into the database

In [83]:
with sqlite3.connect('tips.db') as conn:
    df = pd.read_csv('data/tips.csv')
    df.to_sql('tips', conn, if_exists='replace', index=False)
    conn.commit()


### READ
Answer the following questions (must show your work via SQL queries):
1. Retrieve the average tip percentage for each day of the week

2. Find the maximum and minimum total bull amounts

3. Count the number of parties for each size

4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%


5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order

6. Find the average tip percentage for each combination of day, time, and smoker status

In [37]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT ROUND(AVG(tip/total_bill)*100), day, smoker, time FROM tips GROUP BY day, smoker, time;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Unique Average', 'Day', 'Smoker', 'Time'])
    print(df)

    Unique Average   Day Smoker    Time
0             14.0   Fri     No  Dinner
1             19.0   Fri     No   Lunch
2             17.0   Fri    Yes  Dinner
3             19.0   Fri    Yes   Lunch
4             16.0   Sat     No  Dinner
5             15.0   Sat    Yes  Dinner
6             16.0   Sun     No  Dinner
7             19.0   Sun    Yes  Dinner
8             16.0  Thur     No  Dinner
9             16.0  Thur     No   Lunch
10            16.0  Thur    Yes   Lunch

7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records

In [36]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill, tip, ROUND(AVG(tip/total_bill)*100), sex FROM tips GROUP BY total_bill ORDER BY total_bill DESC;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total_Bill', 'Tip Amount', 'Tip Percentage', 'Sex'])
    print(df.head(5))

   Total_Bill  Tip Amount  Tip Percentage   Sex
0       50.81       10.00            20.0  Male
1       48.33        9.00            19.0  Male
2       48.27        6.73            14.0  Male
3       48.17        5.00            10.0  Male
4       45.35        3.50             8.0  Male

8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount

In [39]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT ROUND(MAX(tip/total_bill)*100), ROUND(MIN(tip/total_bill)*100), day, time, total_bill, tip FROM tips GROUP BY day, time;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Unique Max Percentage', 'Unique Min Percentage','Day','Time','Total_Bill', 'Tip'])
    print(df)

   Unique Max Percentage  Unique Min Percentage   Day    Time  Total_Bill  \
0                   26.0                   10.0   Fri  Dinner       28.97
1                   26.0                   12.0   Fri   Lunch       13.42
2                   33.0                    4.0   Sat  Dinner       32.83
3                   71.0                    6.0   Sun  Dinner       16.99
4                   16.0                   16.0  Thur  Dinner       18.78
5                   27.0                    7.0  Thur   Lunch       18.64

    Tip
0  3.00
1  1.58
2  1.17
3  1.01
4  3.00
5  1.36

9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100

In [42]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill, tip, ROUND((tip/total_bill)*100) As percentage, size FROM tips WHERE size>=4 AND percentage>15 AND total_bill BETWEEN 50 AND 100;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total_bill', 'Tip','Percentage','Size'])
    print(df)

Empty DataFrame
Columns: [Total_bill, Tip, Percentage, Size]
Index: []

10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records

In [43]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT ROUND(AVG(tip/total_bill)*100), day, time, smoker FROM tips GROUP BY day, time, smoker HAVING COUNT(*)>5;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Average Total_bill', 'Day','Time','Smoker'])
    print(df)

   Average Total_bill   Day    Time Smoker
0                17.0   Fri  Dinner    Yes
1                19.0   Fri   Lunch    Yes
2                16.0   Sat  Dinner     No
3                15.0   Sat  Dinner    Yes
4                16.0   Sun  Dinner     No
5                19.0   Sun  Dinner    Yes
6                16.0  Thur   Lunch     No
7                16.0  Thur   Lunch    Yes

Come up with your own SQL queries for the table. You must show 5 additional queries beyond the 10 outlined above. 

**After you have performed the above queries:**

Supplemental 1. Retrieve the total bill, tip, and size and find the difference of the total bill from the average total bill.

In [72]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill, tip, (SELECT AVG(total_bill) FROM tips), (total_bill- (SELECT AVG(total_bill) FROM tips)), size FROM tips;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total_bill', 'Tip','Average','Difference','Size'])
    print(df)

     Total_bill   Tip    Average  Difference  Size
0         16.99  1.01  19.785943   -2.795943     2
1         10.34  1.66  19.785943   -9.445943     3
2         21.01  3.50  19.785943    1.224057     3
3         23.68  3.31  19.785943    3.894057     2
4         24.59  3.61  19.785943    4.804057     4
..          ...   ...        ...         ...   ...
239       29.03  5.92  19.785943    9.244057     3
240       27.18  2.00  19.785943    7.394057     2
241       22.67  2.00  19.785943    2.884057     2
242       17.82  1.75  19.785943   -1.965943     2
243       18.78  3.00  19.785943   -1.005943     2

[244 rows x 5 columns]

Supplemental 2. Retrieve the total bill, smoker, and day for parties of size 2 or 3.

In [73]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill, smoker, day, size FROM tips WHERE size IN(2,3);''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total_bill','Smoker','Day','Size'])
    print(df)

     Total_bill Smoker   Day  Size
0         16.99     No   Sun     2
1         10.34     No   Sun     3
2         21.01     No   Sun     3
3         23.68     No   Sun     2
4          8.77     No   Sun     2
..          ...    ...   ...   ...
189       29.03     No   Sat     3
190       27.18    Yes   Sat     2
191       22.67    Yes   Sat     2
192       17.82     No   Sat     2
193       18.78     No  Thur     2

[194 rows x 4 columns]

Supplemental 3. Segregate all smokers as sitting outside while non smokers sit inside.

In [75]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT smoker, day, time, CASE smoker WHEN 'No' THEN 'Inside' ELSE 'Outside' END Setting FROM tips;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Smoker','Day','Time','Setting'])
    print(df)

    Smoker   Day    Time  Setting
0       No   Sun  Dinner   Inside
1       No   Sun  Dinner   Inside
2       No   Sun  Dinner   Inside
3       No   Sun  Dinner   Inside
4       No   Sun  Dinner   Inside
..     ...   ...     ...      ...
239     No   Sat  Dinner   Inside
240    Yes   Sat  Dinner  Outside
241    Yes   Sat  Dinner  Outside
242     No   Sat  Dinner   Inside
243     No  Thur  Dinner   Inside

[244 rows x 4 columns]

Supplemental 4. Retrieve the following 20 entries for total bill, tip, sex, smoker, day, time, and size from the 15th entry in the table.

In [78]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill,tip,sex,smoker,day,time,size FROM tips LIMIT 20 OFFSET 14;''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total Bill','Tip','Sex','Smoker','Day','Time','Size'])
    print(df)

    Total Bill   Tip     Sex Smoker  Day    Time  Size
0        14.83  3.02  Female     No  Sun  Dinner     2
1        21.58  3.92    Male     No  Sun  Dinner     2
2        10.33  1.67  Female     No  Sun  Dinner     3
3        16.29  3.71    Male     No  Sun  Dinner     3
4        16.97  3.50  Female     No  Sun  Dinner     3
5        20.65  3.35    Male     No  Sat  Dinner     3
6        17.92  4.08    Male     No  Sat  Dinner     2
7        20.29  2.75  Female     No  Sat  Dinner     2
8        15.77  2.23  Female     No  Sat  Dinner     2
9        39.42  7.58    Male     No  Sat  Dinner     4
10       19.82  3.18    Male     No  Sat  Dinner     2
11       17.81  2.34    Male     No  Sat  Dinner     4
12       13.37  2.00    Male     No  Sat  Dinner     2
13       12.69  2.00    Male     No  Sat  Dinner     2
14       21.70  4.30    Male     No  Sat  Dinner     2
15       19.65  3.00  Female     No  Sat  Dinner     2
16        9.55  1.45    Male     No  Sat  Dinner     2
17       18.35  2.50    Male     No  Sat  Dinner     4
18       15.06  3.00  Female     No  Sat  Dinner     2
19       20.69  2.45  Female     No  Sat  Dinner     4

Supplemental 5. Retrieve the total bill, tips, and day for all smokers.

In [88]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''SELECT total_bill,tip,sex,smoker,day,time,size FROM tips WHERE smoker like '%yes%';''')
    conn.commit()
    df=pd.DataFrame(c.fetchall(), columns=['Total Bill','Tip','Sex','Smoker','Day','Time','Size'])
    print(df)

    Total Bill   Tip     Sex Smoker  Day    Time  Size
0        38.01  3.00    Male    Yes  Sat  Dinner     4
1        11.24  1.76    Male    Yes  Sat  Dinner     2
2        20.29  3.21    Male    Yes  Sat  Dinner     2
3        13.81  2.00    Male    Yes  Sat  Dinner     2
4        11.02  1.98    Male    Yes  Sat  Dinner     2
..         ...   ...     ...    ...  ...     ...   ...
88       15.53  3.00    Male    Yes  Sat  Dinner     2
89       12.60  1.00    Male    Yes  Sat  Dinner     2
90       32.83  1.17    Male    Yes  Sat  Dinner     2
91       27.18  2.00  Female    Yes  Sat  Dinner     2
92       22.67  2.00    Male    Yes  Sat  Dinner     2

[93 rows x 7 columns]


### UPDATE
It was determined that there was an error in the database. Please update the record that corresponds to id=10 and set smoker to Yes.



### DELETE
Delete records from the database that have a total bill that is less than $10.