# AIPI510 Fall 2024 Assignment # 2

### Team Details

**Team name:** Forever Loop

**Team members:** Santosh Ganesan, Haran Nallasivan

### Reference Used
We used [this Medium article](https://medium.com/@BrandonSouthern/sql-best-practices-e1c61e96ee27) for a set of best practices for SQL formatting.

### CREATE
You have been provided with a sample .csv file. Create a SQLite database in Python using the data in this sample .csv file.

#### Import statements and shared functions

In [21]:
import pandas as pd
import sqlite3

def query(sql, args=None):
    """
    Utility function to factor out duplicative code for connecting to the database, creating a cursor,
    executing a query, committing on the connection, and fetching results from the cursor. Uses a context manager,
    parameterized queries, and a try-except block to follow best practices.

    Parameters:
        sql (str) - SQL query expression to be executed on the tips table in the tips.db SQLite database.
        args (dictionary, optional) - Arguments to be passed if the query is parameterized.
    """
    try:
        with sqlite3.connect('./tips.db') as conn:
            c = conn.cursor()
            if args is not None:
                c.execute(sql, args)
            else:
                c.execute(sql)
            conn.commit()
            return c.fetchall()
    except:
        print(f'Failed to execute query:\n{sql}')
        return []

#### Exploratory analysis of the data

In [22]:

df = pd.read_csv('data/tips.csv')
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### Create the SQLite database

In [23]:

with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''CREATE TABLE tips (total_bill,tip,sex,smoker,day,time,size)''')
    conn.commit()

#### Verify connectivity to the database

In [24]:
query('''SELECT * from tips;''')

[]

#### Load data into the database

In [25]:
with sqlite3.connect('tips.db') as conn:
    df = pd.read_csv('data/tips.csv')
    df.to_sql('tips', conn, if_exists='replace', index=False)
    conn.commit()


### READ
Answer the following questions (must show your work via SQL queries):
1. Retrieve the average tip percentage for each day of the week

In [26]:
query('''
      SELECT
            ROUND(AVG(tip/total_bill) * 100) AS average_tip_percentage
      FROM
            tips;
      ''')

[(16.0,)]

2. Find the maximum and minimum total bull amounts

In [27]:
query('''
      SELECT
            MAX(total_bill) AS max,
            MIN(total_bill) AS min
      FROM
            tips;
      ''')

[(50.81, 3.07)]

3. Count the number of parties for each size

In [28]:
query('''
      SELECT
            size,
            COUNT(*) as count
      FROM
            tips
      GROUP BY
            size;
      ''')

[(1, 4), (2, 156), (3, 38), (4, 37), (5, 5), (6, 4)]

4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%

In [29]:
query('''
      SELECT
            total_bill,
            tip,
            ROUND(tip/total_bill * 100) AS tip_percentage
      FROM
            tips
      WHERE
            size > :size 
            AND tip_percentage > :tip_percentage;
      ''', { 'size': 4, 'tip_percentage': 15 })

[(34.3, 6.7, 20.0),
 (27.05, 5.0, 18.0),
 (29.85, 5.14, 17.0),
 (20.69, 5.0, 24.0)]


5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order

In [30]:
query('''
      SELECT
            day,
            time,
            total_bill,
            tip,
            ROUND((tip/total_bill) * 100) AS tip_percentage
      FROM
            tips
      GROUP BY 
            day,
            time
      ORDER BY 
            tip_percentage
      DESC;
      ''')

[('Fri', 'Lunch', 12.16, 2.2, 18.0),
 ('Sat', 'Dinner', 20.65, 3.35, 16.0),
 ('Thur', 'Dinner', 18.78, 3.0, 16.0),
 ('Thur', 'Lunch', 27.2, 4.0, 15.0),
 ('Fri', 'Dinner', 28.97, 3.0, 10.0),
 ('Sun', 'Dinner', 16.99, 1.01, 6.0)]

6. Find the average tip percentage for each combination of day, time, and smoker status

In [31]:
query('''
      SELECT
            ROUND(AVG(tip/total_bill)*100),
            day,
            smoker,
            time
      FROM
            tips
      GROUP BY
            day,
            smoker,
            time;
      ''')

[(14.0, 'Fri', 'No', 'Dinner'),
 (19.0, 'Fri', 'No', 'Lunch'),
 (17.0, 'Fri', 'Yes', 'Dinner'),
 (19.0, 'Fri', 'Yes', 'Lunch'),
 (16.0, 'Sat', 'No', 'Dinner'),
 (15.0, 'Sat', 'Yes', 'Dinner'),
 (16.0, 'Sun', 'No', 'Dinner'),
 (19.0, 'Sun', 'Yes', 'Dinner'),
 (16.0, 'Thur', 'No', 'Dinner'),
 (16.0, 'Thur', 'No', 'Lunch'),
 (16.0, 'Thur', 'Yes', 'Lunch')]

7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records

In [33]:
query('''
      SELECT
            ROUND(SUM(total_bill), 2),
            ROUND(SUM(tip), 2),
            ROUND(SUM(tip)/SUM(total_bill)*100) AS tip_percentage,
            sex
      FROM
            tips
      GROUP BY
            sex
      ORDER BY
            total_bill
      DESC;
      ''')

[(1570.95, 246.51, 16.0, 'Female'), (3256.82, 485.07, 15.0, 'Male')]

8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount

In [34]:
query('''
      SELECT
            ROUND(MAX(tip/total_bill)*100) AS max_tip_percentage,
            ROUND(MIN(tip/total_bill)*100) AS min_tip_percentage,
            day,
            time,
            total_bill,
            tip
      FROM
            tips
      GROUP BY
            day,
            time;
      ''')

[(26.0, 10.0, 'Fri', 'Dinner', 28.97, 3.0),
 (26.0, 12.0, 'Fri', 'Lunch', 13.42, 1.58),
 (33.0, 4.0, 'Sat', 'Dinner', 32.83, 1.17),
 (71.0, 6.0, 'Sun', 'Dinner', 16.99, 1.01),
 (16.0, 16.0, 'Thur', 'Dinner', 18.78, 3.0),
 (27.0, 7.0, 'Thur', 'Lunch', 18.64, 1.36)]

9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100

In [35]:
query('''
      SELECT
            total_bill,
            tip,
            ROUND((tip/total_bill)*100) AS tip_percentage,
            size
      FROM
            tips
      WHERE
            size >= :size
      AND
            tip_percentage > :tip_percentage
      AND
            total_bill BETWEEN :total_bill_min AND :total_bill_max;
      ''', { 'size': 4, 'tip_percentage': 15, 'total_bill_min': 50, 'total_bill_max': 100 })

[]

10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records

In [36]:
query('''
      SELECT
            ROUND(AVG(tip/total_bill)*100),
            day,
            time,
            smoker,
            COUNT(*)
      FROM
            tips
      GROUP BY
            day,
            time,
            smoker
      HAVING 
            COUNT(*) > :count;
      ''', { 'count': 5 })

[(17.0, 'Fri', 'Dinner', 'Yes', 9),
 (19.0, 'Fri', 'Lunch', 'Yes', 6),
 (16.0, 'Sat', 'Dinner', 'No', 45),
 (15.0, 'Sat', 'Dinner', 'Yes', 42),
 (16.0, 'Sun', 'Dinner', 'No', 57),
 (19.0, 'Sun', 'Dinner', 'Yes', 19),
 (16.0, 'Thur', 'Lunch', 'No', 44),
 (16.0, 'Thur', 'Lunch', 'Yes', 17)]

Come up with your own SQL queries for the table. You must show 5 additional queries beyond the 10 outlined above.

Supplemental 1. Retrieve the total bill, tip, and size and find the difference of the total bill from the average total bill.

In [37]:
query('''
      SELECT
            total_bill,
            tip,
            average_total_bill,
            ROUND(total_bill - average_total_bill, 2) AS difference,
            size
      FROM
            tips,
            (SELECT ROUND(AVG(total_bill), 2) as average_total_bill FROM tips) AS averages_table;
      ''')

[(16.99, 1.01, 19.79, -2.8, 2),
 (10.34, 1.66, 19.79, -9.45, 3),
 (21.01, 3.5, 19.79, 1.22, 3),
 (23.68, 3.31, 19.79, 3.89, 2),
 (24.59, 3.61, 19.79, 4.8, 4),
 (25.29, 4.71, 19.79, 5.5, 4),
 (8.77, 2.0, 19.79, -11.02, 2),
 (26.88, 3.12, 19.79, 7.09, 4),
 (15.04, 1.96, 19.79, -4.75, 2),
 (14.78, 3.23, 19.79, -5.01, 2),
 (10.27, 1.71, 19.79, -9.52, 2),
 (35.26, 5.0, 19.79, 15.47, 4),
 (15.42, 1.57, 19.79, -4.37, 2),
 (18.43, 3.0, 19.79, -1.36, 4),
 (14.83, 3.02, 19.79, -4.96, 2),
 (21.58, 3.92, 19.79, 1.79, 2),
 (10.33, 1.67, 19.79, -9.46, 3),
 (16.29, 3.71, 19.79, -3.5, 3),
 (16.97, 3.5, 19.79, -2.82, 3),
 (20.65, 3.35, 19.79, 0.86, 3),
 (17.92, 4.08, 19.79, -1.87, 2),
 (20.29, 2.75, 19.79, 0.5, 2),
 (15.77, 2.23, 19.79, -4.02, 2),
 (39.42, 7.58, 19.79, 19.63, 4),
 (19.82, 3.18, 19.79, 0.03, 2),
 (17.81, 2.34, 19.79, -1.98, 4),
 (13.37, 2.0, 19.79, -6.42, 2),
 (12.69, 2.0, 19.79, -7.1, 2),
 (21.7, 4.3, 19.79, 1.91, 2),
 (19.65, 3.0, 19.79, -0.14, 2),
 (9.55, 1.45, 19.79, -10.24, 2),
 (18.35, 2.5, 19.79, -1.44, 4),
 (15.06, 3.0, 19.79, -4.73, 2),
 (20.69, 2.45, 19.79, 0.9, 4),
 (17.78, 3.27, 19.79, -2.01, 2),
 (24.06, 3.6, 19.79, 4.27, 3),
 (16.31, 2.0, 19.79, -3.48, 3),
 (16.93, 3.07, 19.79, -2.86, 3),
 (18.69, 2.31, 19.79, -1.1, 3),
 (31.27, 5.0, 19.79, 11.48, 3),
 (16.04, 2.24, 19.79, -3.75, 3),
 (17.46, 2.54, 19.79, -2.33, 2),
 (13.94, 3.06, 19.79, -5.85, 2),
 (9.68, 1.32, 19.79, -10.11, 2),
 (30.4, 5.6, 19.79, 10.61, 4),
 (18.29, 3.0, 19.79, -1.5, 2),
 (22.23, 5.0, 19.79, 2.44, 2),
 (32.4, 6.0, 19.79, 12.61, 4),
 (28.55, 2.05, 19.79, 8.76, 3),
 (18.04, 3.0, 19.79, -1.75, 2),
 (12.54, 2.5, 19.79, -7.25, 2),
 (10.29, 2.6, 19.79, -9.5, 2),
 (34.81, 5.2, 19.79, 15.02, 4),
 (9.94, 1.56, 19.79, -9.85, 2),
 (25.56, 4.34, 19.79, 5.77, 4),
 (19.49, 3.51, 19.79, -0.3, 2),
 (38.01, 3.0, 19.79, 18.22, 4),
 (26.41, 1.5, 19.79, 6.62, 2),
 (11.24, 1.76, 19.79, -8.55, 2),
 (48.27, 6.73, 19.79, 28.48, 4),
 (20.29, 3.21, 19.79, 0.5, 2),
 (13.81, 2.0, 19.79, -5.98, 2),
 (11.02, 1.98, 19.79, -8.77, 2),
 (18.29, 3.76, 19.79, -1.5, 4),
 (17.59, 2.64, 19.79, -2.2, 3),
 (20.08, 3.15, 19.79, 0.29, 3),
 (16.45, 2.47, 19.79, -3.34, 2),
 (3.07, 1.0, 19.79, -16.72, 1),
 (20.23, 2.01, 19.79, 0.44, 2),
 (15.01, 2.09, 19.79, -4.78, 2),
 (12.02, 1.97, 19.79, -7.77, 2),
 (17.07, 3.0, 19.79, -2.72, 3),
 (26.86, 3.14, 19.79, 7.07, 2),
 (25.28, 5.0, 19.79, 5.49, 2),
 (14.73, 2.2, 19.79, -5.06, 2),
 (10.51, 1.25, 19.79, -9.28, 2),
 (17.92, 3.08, 19.79, -1.87, 2),
 (27.2, 4.0, 19.79, 7.41, 4),
 (22.76, 3.0, 19.79, 2.97, 2),
 (17.29, 2.71, 19.79, -2.5, 2),
 (19.44, 3.0, 19.79, -0.35, 2),
 (16.66, 3.4, 19.79, -3.13, 2),
 (10.07, 1.83, 19.79, -9.72, 1),
 (32.68, 5.0, 19.79, 12.89, 2),
 (15.98, 2.03, 19.79, -3.81, 2),
 (34.83, 5.17, 19.79, 15.04, 4),
 (13.03, 2.0, 19.79, -6.76, 2),
 (18.28, 4.0, 19.79, -1.51, 2),
 (24.71, 5.85, 19.79, 4.92, 2),
 (21.16, 3.0, 19.79, 1.37, 2),
 (28.97, 3.0, 19.79, 9.18, 2),
 (22.49, 3.5, 19.79, 2.7, 2),
 (5.75, 1.0, 19.79, -14.04, 2),
 (16.32, 4.3, 19.79, -3.47, 2),
 (22.75, 3.25, 19.79, 2.96, 2),
 (40.17, 4.73, 19.79, 20.38, 4),
 (27.28, 4.0, 19.79, 7.49, 2),
 (12.03, 1.5, 19.79, -7.76, 2),
 (21.01, 3.0, 19.79, 1.22, 2),
 (12.46, 1.5, 19.79, -7.33, 2),
 (11.35, 2.5, 19.79, -8.44, 2),
 (15.38, 3.0, 19.79, -4.41, 2),
 (44.3, 2.5, 19.79, 24.51, 3),
 (22.42, 3.48, 19.79, 2.63, 2),
 (20.92, 4.08, 19.79, 1.13, 2),
 (15.36, 1.64, 19.79, -4.43, 2),
 (20.49, 4.06, 19.79, 0.7, 2),
 (25.21, 4.29, 19.79, 5.42, 2),
 (18.24, 3.76, 19.79, -1.55, 2),
 (14.31, 4.0, 19.79, -5.48, 2),
 (14.0, 3.0, 19.79, -5.79, 2),
 (7.25, 1.0, 19.79, -12.54, 1),
 (38.07, 4.0, 19.79, 18.28, 3),
 (23.95, 2.55, 19.79, 4.16, 2),
 (25.71, 4.0, 19.79, 5.92, 3),
 (17.31, 3.5, 19.79, -2.48, 2),
 (29.93, 5.07, 19.79, 10.14, 4),
 (10.65, 1.5, 19.79, -9.14, 2),
 (12.43, 1.8, 19.79, -7.36, 2),
 (24.08, 2.92, 19.79, 4.29, 4),
 (11.69, 2.31, 19.79, -8.1, 2),
 (13.42, 1.68, 19.79, -6.37, 2),
 (14.26, 2.5, 19.79, -5.53, 2),
 (15.95, 2.0, 19.79, -3.84, 2),
 (12.48, 2.52, 19.79, -7.31, 2),
 (29.8, 4.2, 19.79, 10.01, 6),
 (8.52, 1.48, 19.79, -11.27, 2),
 (14.52, 2.0, 19.79, -5.27, 2),
 (11.38, 2.0, 19.79, -8.41, 2),
 (22.82, 2.18, 19.79, 3.03, 3),
 (19.08, 1.5, 19.79, -0.71, 2),
 (20.27, 2.83, 19.79, 0.48, 2),
 (11.17, 1.5, 19.79, -8.62, 2),
 (12.26, 2.0, 19.79, -7.53, 2),
 (18.26, 3.25, 19.79, -1.53, 2),
 (8.51, 1.25, 19.79, -11.28, 2),
 (10.33, 2.0, 19.79, -9.46, 2),
 (14.15, 2.0, 19.79, -5.64, 2),
 (16.0, 2.0, 19.79, -3.79, 2),
 (13.16, 2.75, 19.79, -6.63, 2),
 (17.47, 3.5, 19.79, -2.32, 2),
 (34.3, 6.7, 19.79, 14.51, 6),
 (41.19, 5.0, 19.79, 21.4, 5),
 (27.05, 5.0, 19.79, 7.26, 6),
 (16.43, 2.3, 19.79, -3.36, 2),
 (8.35, 1.5, 19.79, -11.44, 2),
 (18.64, 1.36, 19.79, -1.15, 3),
 (11.87, 1.63, 19.79, -7.92, 2),
 (9.78, 1.73, 19.79, -10.01, 2),
 (7.51, 2.0, 19.79, -12.28, 2),
 (14.07, 2.5, 19.79, -5.72, 2),
 (13.13, 2.0, 19.79, -6.66, 2),
 (17.26, 2.74, 19.79, -2.53, 3),
 (24.55, 2.0, 19.79, 4.76, 4),
 (19.77, 2.0, 19.79, -0.02, 4),
 (29.85, 5.14, 19.79, 10.06, 5),
 (48.17, 5.0, 19.79, 28.38, 6),
 (25.0, 3.75, 19.79, 5.21, 4),
 (13.39, 2.61, 19.79, -6.4, 2),
 (16.49, 2.0, 19.79, -3.3, 4),
 (21.5, 3.5, 19.79, 1.71, 4),
 (12.66, 2.5, 19.79, -7.13, 2),
 (16.21, 2.0, 19.79, -3.58, 3),
 (13.81, 2.0, 19.79, -5.98, 2),
 (17.51, 3.0, 19.79, -2.28, 2),
 (24.52, 3.48, 19.79, 4.73, 3),
 (20.76, 2.24, 19.79, 0.97, 2),
 (31.71, 4.5, 19.79, 11.92, 4),
 (10.59, 1.61, 19.79, -9.2, 2),
 (10.63, 2.0, 19.79, -9.16, 2),
 (50.81, 10.0, 19.79, 31.02, 3),
 (15.81, 3.16, 19.79, -3.98, 2),
 (7.25, 5.15, 19.79, -12.54, 2),
 (31.85, 3.18, 19.79, 12.06, 2),
 (16.82, 4.0, 19.79, -2.97, 2),
 (32.9, 3.11, 19.79, 13.11, 2),
 (17.89, 2.0, 19.79, -1.9, 2),
 (14.48, 2.0, 19.79, -5.31, 2),
 (9.6, 4.0, 19.79, -10.19, 2),
 (34.63, 3.55, 19.79, 14.84, 2),
 (34.65, 3.68, 19.79, 14.86, 4),
 (23.33, 5.65, 19.79, 3.54, 2),
 (45.35, 3.5, 19.79, 25.56, 3),
 (23.17, 6.5, 19.79, 3.38, 4),
 (40.55, 3.0, 19.79, 20.76, 2),
 (20.69, 5.0, 19.79, 0.9, 5),
 (20.9, 3.5, 19.79, 1.11, 3),
 (30.46, 2.0, 19.79, 10.67, 5),
 (18.15, 3.5, 19.79, -1.64, 3),
 (23.1, 4.0, 19.79, 3.31, 3),
 (15.69, 1.5, 19.79, -4.1, 2),
 (19.81, 4.19, 19.79, 0.02, 2),
 (28.44, 2.56, 19.79, 8.65, 2),
 (15.48, 2.02, 19.79, -4.31, 2),
 (16.58, 4.0, 19.79, -3.21, 2),
 (7.56, 1.44, 19.79, -12.23, 2),
 (10.34, 2.0, 19.79, -9.45, 2),
 (43.11, 5.0, 19.79, 23.32, 4),
 (13.0, 2.0, 19.79, -6.79, 2),
 (13.51, 2.0, 19.79, -6.28, 2),
 (18.71, 4.0, 19.79, -1.08, 3),
 (12.74, 2.01, 19.79, -7.05, 2),
 (13.0, 2.0, 19.79, -6.79, 2),
 (16.4, 2.5, 19.79, -3.39, 2),
 (20.53, 4.0, 19.79, 0.74, 4),
 (16.47, 3.23, 19.79, -3.32, 3),
 (26.59, 3.41, 19.79, 6.8, 3),
 (38.73, 3.0, 19.79, 18.94, 4),
 (24.27, 2.03, 19.79, 4.48, 2),
 (12.76, 2.23, 19.79, -7.03, 2),
 (30.06, 2.0, 19.79, 10.27, 3),
 (25.89, 5.16, 19.79, 6.1, 4),
 (48.33, 9.0, 19.79, 28.54, 4),
 (13.27, 2.5, 19.79, -6.52, 2),
 (28.17, 6.5, 19.79, 8.38, 3),
 (12.9, 1.1, 19.79, -6.89, 2),
 (28.15, 3.0, 19.79, 8.36, 5),
 (11.59, 1.5, 19.79, -8.2, 2),
 (7.74, 1.44, 19.79, -12.05, 2),
 (30.14, 3.09, 19.79, 10.35, 4),
 (12.16, 2.2, 19.79, -7.63, 2),
 (13.42, 3.48, 19.79, -6.37, 2),
 (8.58, 1.92, 19.79, -11.21, 1),
 (15.98, 3.0, 19.79, -3.81, 3),
 (13.42, 1.58, 19.79, -6.37, 2),
 (16.27, 2.5, 19.79, -3.52, 2),
 (10.09, 2.0, 19.79, -9.7, 2),
 (20.45, 3.0, 19.79, 0.66, 4),
 (13.28, 2.72, 19.79, -6.51, 2),
 (22.12, 2.88, 19.79, 2.33, 2),
 (24.01, 2.0, 19.79, 4.22, 4),
 (15.69, 3.0, 19.79, -4.1, 3),
 (11.61, 3.39, 19.79, -8.18, 2),
 (10.77, 1.47, 19.79, -9.02, 2),
 (15.53, 3.0, 19.79, -4.26, 2),
 (10.07, 1.25, 19.79, -9.72, 2),
 (12.6, 1.0, 19.79, -7.19, 2),
 (32.83, 1.17, 19.79, 13.04, 2),
 (35.83, 4.67, 19.79, 16.04, 3),
 (29.03, 5.92, 19.79, 9.24, 3),
 (27.18, 2.0, 19.79, 7.39, 2),
 (22.67, 2.0, 19.79, 2.88, 2),
 (17.82, 1.75, 19.79, -1.97, 2),
 (18.78, 3.0, 19.79, -1.01, 2)]

Supplemental 2. Retrieve the total bill, smoker, and day for parties of size 2 or 3.

In [38]:
query('''
      SELECT
            total_bill,
            smoker,
            day,
            size
      FROM
            tips
      WHERE
            size IN(:size1, :size2);
      ''', { 'size1': 2, 'size2': 3 })

[(16.99, 'No', 'Sun', 2),
 (10.34, 'No', 'Sun', 3),
 (21.01, 'No', 'Sun', 3),
 (23.68, 'No', 'Sun', 2),
 (8.77, 'No', 'Sun', 2),
 (15.04, 'No', 'Sun', 2),
 (14.78, 'No', 'Sun', 2),
 (10.27, 'No', 'Sun', 2),
 (15.42, 'No', 'Sun', 2),
 (14.83, 'No', 'Sun', 2),
 (21.58, 'No', 'Sun', 2),
 (10.33, 'No', 'Sun', 3),
 (16.29, 'No', 'Sun', 3),
 (16.97, 'No', 'Sun', 3),
 (20.65, 'No', 'Sat', 3),
 (17.92, 'No', 'Sat', 2),
 (20.29, 'No', 'Sat', 2),
 (15.77, 'No', 'Sat', 2),
 (19.82, 'No', 'Sat', 2),
 (13.37, 'No', 'Sat', 2),
 (12.69, 'No', 'Sat', 2),
 (21.7, 'No', 'Sat', 2),
 (19.65, 'No', 'Sat', 2),
 (9.55, 'No', 'Sat', 2),
 (15.06, 'No', 'Sat', 2),
 (17.78, 'No', 'Sat', 2),
 (24.06, 'No', 'Sat', 3),
 (16.31, 'No', 'Sat', 3),
 (16.93, 'No', 'Sat', 3),
 (18.69, 'No', 'Sat', 3),
 (31.27, 'No', 'Sat', 3),
 (16.04, 'No', 'Sat', 3),
 (17.46, 'No', 'Sun', 2),
 (13.94, 'No', 'Sun', 2),
 (9.68, 'No', 'Sun', 2),
 (18.29, 'No', 'Sun', 2),
 (22.23, 'No', 'Sun', 2),
 (28.55, 'No', 'Sun', 3),
 (18.04, 'No', 'Sun', 2),
 (12.54, 'No', 'Sun', 2),
 (10.29, 'No', 'Sun', 2),
 (9.94, 'No', 'Sun', 2),
 (19.49, 'No', 'Sun', 2),
 (26.41, 'No', 'Sat', 2),
 (11.24, 'Yes', 'Sat', 2),
 (20.29, 'Yes', 'Sat', 2),
 (13.81, 'Yes', 'Sat', 2),
 (11.02, 'Yes', 'Sat', 2),
 (17.59, 'No', 'Sat', 3),
 (20.08, 'No', 'Sat', 3),
 (16.45, 'No', 'Sat', 2),
 (20.23, 'No', 'Sat', 2),
 (15.01, 'Yes', 'Sat', 2),
 (12.02, 'No', 'Sat', 2),
 (17.07, 'No', 'Sat', 3),
 (26.86, 'Yes', 'Sat', 2),
 (25.28, 'Yes', 'Sat', 2),
 (14.73, 'No', 'Sat', 2),
 (10.51, 'No', 'Sat', 2),
 (17.92, 'Yes', 'Sat', 2),
 (22.76, 'No', 'Thur', 2),
 (17.29, 'No', 'Thur', 2),
 (19.44, 'Yes', 'Thur', 2),
 (16.66, 'No', 'Thur', 2),
 (32.68, 'Yes', 'Thur', 2),
 (15.98, 'No', 'Thur', 2),
 (13.03, 'No', 'Thur', 2),
 (18.28, 'No', 'Thur', 2),
 (24.71, 'No', 'Thur', 2),
 (21.16, 'No', 'Thur', 2),
 (28.97, 'Yes', 'Fri', 2),
 (22.49, 'No', 'Fri', 2),
 (5.75, 'Yes', 'Fri', 2),
 (16.32, 'Yes', 'Fri', 2),
 (22.75, 'No', 'Fri', 2),
 (27.28, 'Yes', 'Fri', 2),
 (12.03, 'Yes', 'Fri', 2),
 (21.01, 'Yes', 'Fri', 2),
 (12.46, 'No', 'Fri', 2),
 (11.35, 'Yes', 'Fri', 2),
 (15.38, 'Yes', 'Fri', 2),
 (44.3, 'Yes', 'Sat', 3),
 (22.42, 'Yes', 'Sat', 2),
 (20.92, 'No', 'Sat', 2),
 (15.36, 'Yes', 'Sat', 2),
 (20.49, 'Yes', 'Sat', 2),
 (25.21, 'Yes', 'Sat', 2),
 (18.24, 'No', 'Sat', 2),
 (14.31, 'Yes', 'Sat', 2),
 (14.0, 'No', 'Sat', 2),
 (38.07, 'No', 'Sun', 3),
 (23.95, 'No', 'Sun', 2),
 (25.71, 'No', 'Sun', 3),
 (17.31, 'No', 'Sun', 2),
 (10.65, 'No', 'Thur', 2),
 (12.43, 'No', 'Thur', 2),
 (11.69, 'No', 'Thur', 2),
 (13.42, 'No', 'Thur', 2),
 (14.26, 'No', 'Thur', 2),
 (15.95, 'No', 'Thur', 2),
 (12.48, 'No', 'Thur', 2),
 (8.52, 'No', 'Thur', 2),
 (14.52, 'No', 'Thur', 2),
 (11.38, 'No', 'Thur', 2),
 (22.82, 'No', 'Thur', 3),
 (19.08, 'No', 'Thur', 2),
 (20.27, 'No', 'Thur', 2),
 (11.17, 'No', 'Thur', 2),
 (12.26, 'No', 'Thur', 2),
 (18.26, 'No', 'Thur', 2),
 (8.51, 'No', 'Thur', 2),
 (10.33, 'No', 'Thur', 2),
 (14.15, 'No', 'Thur', 2),
 (16.0, 'Yes', 'Thur', 2),
 (13.16, 'No', 'Thur', 2),
 (17.47, 'No', 'Thur', 2),
 (16.43, 'No', 'Thur', 2),
 (8.35, 'No', 'Thur', 2),
 (18.64, 'No', 'Thur', 3),
 (11.87, 'No', 'Thur', 2),
 (9.78, 'No', 'Thur', 2),
 (7.51, 'No', 'Thur', 2),
 (14.07, 'No', 'Sun', 2),
 (13.13, 'No', 'Sun', 2),
 (17.26, 'No', 'Sun', 3),
 (13.39, 'No', 'Sun', 2),
 (12.66, 'No', 'Sun', 2),
 (16.21, 'No', 'Sun', 3),
 (13.81, 'No', 'Sun', 2),
 (17.51, 'Yes', 'Sun', 2),
 (24.52, 'No', 'Sun', 3),
 (20.76, 'No', 'Sun', 2),
 (10.59, 'Yes', 'Sat', 2),
 (10.63, 'Yes', 'Sat', 2),
 (50.81, 'Yes', 'Sat', 3),
 (15.81, 'Yes', 'Sat', 2),
 (7.25, 'Yes', 'Sun', 2),
 (31.85, 'Yes', 'Sun', 2),
 (16.82, 'Yes', 'Sun', 2),
 (32.9, 'Yes', 'Sun', 2),
 (17.89, 'Yes', 'Sun', 2),
 (14.48, 'Yes', 'Sun', 2),
 (9.6, 'Yes', 'Sun', 2),
 (34.63, 'Yes', 'Sun', 2),
 (23.33, 'Yes', 'Sun', 2),
 (45.35, 'Yes', 'Sun', 3),
 (40.55, 'Yes', 'Sun', 2),
 (20.9, 'Yes', 'Sun', 3),
 (18.15, 'Yes', 'Sun', 3),
 (23.1, 'Yes', 'Sun', 3),
 (15.69, 'Yes', 'Sun', 2),
 (19.81, 'Yes', 'Thur', 2),
 (28.44, 'Yes', 'Thur', 2),
 (15.48, 'Yes', 'Thur', 2),
 (16.58, 'Yes', 'Thur', 2),
 (7.56, 'No', 'Thur', 2),
 (10.34, 'Yes', 'Thur', 2),
 (13.0, 'Yes', 'Thur', 2),
 (13.51, 'Yes', 'Thur', 2),
 (18.71, 'Yes', 'Thur', 3),
 (12.74, 'Yes', 'Thur', 2),
 (13.0, 'Yes', 'Thur', 2),
 (16.4, 'Yes', 'Thur', 2),
 (16.47, 'Yes', 'Thur', 3),
 (26.59, 'Yes', 'Sat', 3),
 (24.27, 'Yes', 'Sat', 2),
 (12.76, 'Yes', 'Sat', 2),
 (30.06, 'Yes', 'Sat', 3),
 (13.27, 'Yes', 'Sat', 2),
 (28.17, 'Yes', 'Sat', 3),
 (12.9, 'Yes', 'Sat', 2),
 (11.59, 'Yes', 'Sat', 2),
 (7.74, 'Yes', 'Sat', 2),
 (12.16, 'Yes', 'Fri', 2),
 (13.42, 'Yes', 'Fri', 2),
 (15.98, 'No', 'Fri', 3),
 (13.42, 'Yes', 'Fri', 2),
 (16.27, 'Yes', 'Fri', 2),
 (10.09, 'Yes', 'Fri', 2),
 (13.28, 'No', 'Sat', 2),
 (22.12, 'Yes', 'Sat', 2),
 (15.69, 'Yes', 'Sat', 3),
 (11.61, 'No', 'Sat', 2),
 (10.77, 'No', 'Sat', 2),
 (15.53, 'Yes', 'Sat', 2),
 (10.07, 'No', 'Sat', 2),
 (12.6, 'Yes', 'Sat', 2),
 (32.83, 'Yes', 'Sat', 2),
 (35.83, 'No', 'Sat', 3),
 (29.03, 'No', 'Sat', 3),
 (27.18, 'Yes', 'Sat', 2),
 (22.67, 'Yes', 'Sat', 2),
 (17.82, 'No', 'Sat', 2),
 (18.78, 'No', 'Thur', 2)]

Supplemental 3. Segregate all smokers as sitting outside while non smokers sit inside.

In [39]:
query('''
      SELECT
            smoker,
            day,
            time,
            CASE smoker
                WHEN 'No' THEN 'Inside'
                ELSE 'Outside'
            END setting
      FROM
            tips;
      ''')

[('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('No', 'Fri', 'Dinner', 'Inside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('No', 'Fri', 'Dinner', 'Inside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('No', 'Fri', 'Dinner', 'Inside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('Yes', 'Fri', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('No', 'Sun', 'Dinner', 'Inside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Sun', 'Dinner', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('No', 'Thur', 'Lunch', 'Inside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Thur', 'Lunch', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Fri', 'Lunch', 'Outside'),
 ('Yes', 'Fri', 'Lunch', 'Outside'),
 ('Yes', 'Fri', 'Lunch', 'Outside'),
 ('No', 'Fri', 'Lunch', 'Inside'),
 ('Yes', 'Fri', 'Lunch', 'Outside'),
 ('Yes', 'Fri', 'Lunch', 'Outside'),
 ('Yes', 'Fri', 'Lunch', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('Yes', 'Sat', 'Dinner', 'Outside'),
 ('No', 'Sat', 'Dinner', 'Inside'),
 ('No', 'Thur', 'Dinner', 'Inside')]

Supplemental 4. Retrieve the following 20 entries for total bill, tip, sex, smoker, day, time, and size from the 15th entry in the table.

In [40]:
query('''
      SELECT
            total_bill,
            tip,
            sex,
            smoker,
            day,
            time,
            size
      FROM
            tips
      LIMIT 
            :page_size
      OFFSET
            :offset;
      ''', { 'page_size': 20, 'offset': 14 })

[(14.83, 3.02, 'Female', 'No', 'Sun', 'Dinner', 2),
 (21.58, 3.92, 'Male', 'No', 'Sun', 'Dinner', 2),
 (10.33, 1.67, 'Female', 'No', 'Sun', 'Dinner', 3),
 (16.29, 3.71, 'Male', 'No', 'Sun', 'Dinner', 3),
 (16.97, 3.5, 'Female', 'No', 'Sun', 'Dinner', 3),
 (20.65, 3.35, 'Male', 'No', 'Sat', 'Dinner', 3),
 (17.92, 4.08, 'Male', 'No', 'Sat', 'Dinner', 2),
 (20.29, 2.75, 'Female', 'No', 'Sat', 'Dinner', 2),
 (15.77, 2.23, 'Female', 'No', 'Sat', 'Dinner', 2),
 (39.42, 7.58, 'Male', 'No', 'Sat', 'Dinner', 4),
 (19.82, 3.18, 'Male', 'No', 'Sat', 'Dinner', 2),
 (17.81, 2.34, 'Male', 'No', 'Sat', 'Dinner', 4),
 (13.37, 2.0, 'Male', 'No', 'Sat', 'Dinner', 2),
 (12.69, 2.0, 'Male', 'No', 'Sat', 'Dinner', 2),
 (21.7, 4.3, 'Male', 'No', 'Sat', 'Dinner', 2),
 (19.65, 3.0, 'Female', 'No', 'Sat', 'Dinner', 2),
 (9.55, 1.45, 'Male', 'No', 'Sat', 'Dinner', 2),
 (18.35, 2.5, 'Male', 'No', 'Sat', 'Dinner', 4),
 (15.06, 3.0, 'Female', 'No', 'Sat', 'Dinner', 2),
 (20.69, 2.45, 'Female', 'No', 'Sat', 'Dinner', 4)]

Supplemental 5. Retrieve the total bill, tips, and day for all smokers.

In [41]:
query('''
      SELECT 
            total_bill,
            tip,
            sex,
            smoker,
            day,
            time,
            size
      FROM
            tips
      WHERE
            smoker LIKE '%yes%';
      ''')

[(38.01, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 4),
 (11.24, 1.76, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (20.29, 3.21, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (13.81, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (11.02, 1.98, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (18.29, 3.76, 'Male', 'Yes', 'Sat', 'Dinner', 4),
 (3.07, 1.0, 'Female', 'Yes', 'Sat', 'Dinner', 1),
 (15.01, 2.09, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (26.86, 3.14, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (25.28, 5.0, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (17.92, 3.08, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (19.44, 3.0, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (32.68, 5.0, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (28.97, 3.0, 'Male', 'Yes', 'Fri', 'Dinner', 2),
 (5.75, 1.0, 'Female', 'Yes', 'Fri', 'Dinner', 2),
 (16.32, 4.3, 'Female', 'Yes', 'Fri', 'Dinner', 2),
 (40.17, 4.73, 'Male', 'Yes', 'Fri', 'Dinner', 4),
 (27.28, 4.0, 'Male', 'Yes', 'Fri', 'Dinner', 2),
 (12.03, 1.5, 'Male', 'Yes', 'Fri', 'Dinner', 2),
 (21.01, 3.0, 'Male', 'Yes', 'Fri', 'Dinner', 2),
 (11.35, 2.5, 'Female', 'Yes', 'Fri', 'Dinner', 2),
 (15.38, 3.0, 'Female', 'Yes', 'Fri', 'Dinner', 2),
 (44.3, 2.5, 'Female', 'Yes', 'Sat', 'Dinner', 3),
 (22.42, 3.48, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (15.36, 1.64, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (20.49, 4.06, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (25.21, 4.29, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (14.31, 4.0, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (16.0, 2.0, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (17.51, 3.0, 'Female', 'Yes', 'Sun', 'Dinner', 2),
 (10.59, 1.61, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (10.63, 2.0, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (50.81, 10.0, 'Male', 'Yes', 'Sat', 'Dinner', 3),
 (15.81, 3.16, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (7.25, 5.15, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (31.85, 3.18, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (16.82, 4.0, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (32.9, 3.11, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (17.89, 2.0, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (14.48, 2.0, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (9.6, 4.0, 'Female', 'Yes', 'Sun', 'Dinner', 2),
 (34.63, 3.55, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (34.65, 3.68, 'Male', 'Yes', 'Sun', 'Dinner', 4),
 (23.33, 5.65, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (45.35, 3.5, 'Male', 'Yes', 'Sun', 'Dinner', 3),
 (23.17, 6.5, 'Male', 'Yes', 'Sun', 'Dinner', 4),
 (40.55, 3.0, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (20.9, 3.5, 'Female', 'Yes', 'Sun', 'Dinner', 3),
 (30.46, 2.0, 'Male', 'Yes', 'Sun', 'Dinner', 5),
 (18.15, 3.5, 'Female', 'Yes', 'Sun', 'Dinner', 3),
 (23.1, 4.0, 'Male', 'Yes', 'Sun', 'Dinner', 3),
 (15.69, 1.5, 'Male', 'Yes', 'Sun', 'Dinner', 2),
 (19.81, 4.19, 'Female', 'Yes', 'Thur', 'Lunch', 2),
 (28.44, 2.56, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (15.48, 2.02, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (16.58, 4.0, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (10.34, 2.0, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (43.11, 5.0, 'Female', 'Yes', 'Thur', 'Lunch', 4),
 (13.0, 2.0, 'Female', 'Yes', 'Thur', 'Lunch', 2),
 (13.51, 2.0, 'Male', 'Yes', 'Thur', 'Lunch', 2),
 (18.71, 4.0, 'Male', 'Yes', 'Thur', 'Lunch', 3),
 (12.74, 2.01, 'Female', 'Yes', 'Thur', 'Lunch', 2),
 (13.0, 2.0, 'Female', 'Yes', 'Thur', 'Lunch', 2),
 (16.4, 2.5, 'Female', 'Yes', 'Thur', 'Lunch', 2),
 (20.53, 4.0, 'Male', 'Yes', 'Thur', 'Lunch', 4),
 (16.47, 3.23, 'Female', 'Yes', 'Thur', 'Lunch', 3),
 (26.59, 3.41, 'Male', 'Yes', 'Sat', 'Dinner', 3),
 (38.73, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 4),
 (24.27, 2.03, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (12.76, 2.23, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (30.06, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 3),
 (25.89, 5.16, 'Male', 'Yes', 'Sat', 'Dinner', 4),
 (13.27, 2.5, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (28.17, 6.5, 'Female', 'Yes', 'Sat', 'Dinner', 3),
 (12.9, 1.1, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (28.15, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 5),
 (11.59, 1.5, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (7.74, 1.44, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (30.14, 3.09, 'Female', 'Yes', 'Sat', 'Dinner', 4),
 (12.16, 2.2, 'Male', 'Yes', 'Fri', 'Lunch', 2),
 (13.42, 3.48, 'Female', 'Yes', 'Fri', 'Lunch', 2),
 (8.58, 1.92, 'Male', 'Yes', 'Fri', 'Lunch', 1),
 (13.42, 1.58, 'Male', 'Yes', 'Fri', 'Lunch', 2),
 (16.27, 2.5, 'Female', 'Yes', 'Fri', 'Lunch', 2),
 (10.09, 2.0, 'Female', 'Yes', 'Fri', 'Lunch', 2),
 (22.12, 2.88, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (24.01, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 4),
 (15.69, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 3),
 (15.53, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (12.6, 1.0, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (32.83, 1.17, 'Male', 'Yes', 'Sat', 'Dinner', 2),
 (27.18, 2.0, 'Female', 'Yes', 'Sat', 'Dinner', 2),
 (22.67, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 2)]

**After you have performed the above queries:**

### UPDATE
It was determined that there was an error in the database. Please update the record that corresponds to id=10 and set smoker to Yes.

In [42]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''
              SELECT
                    *
              FROM
                    tips
              WHERE
                    rowid = :rowid;
              ''', { 'rowid': 10 })
    conn.commit()
    print(f'Before:\n{c.fetchall()}')
    c.execute('''
              UPDATE
                    tips
              SET
                    smoker = 'Yes'
              WHERE
                    rowid = :rowid;
              ''', { 'rowid': 10 })
    conn.commit()
    c.execute('''
              SELECT
                    *
              FROM
                    tips
              WHERE
                    rowid = :rowid;
              ''', { 'rowid': 10 })
    conn.commit()
    print(f'After:\n{c.fetchall()}')

Before:
[(14.78, 3.23, 'Male', 'No', 'Sun', 'Dinner', 2)]
After:
[(14.78, 3.23, 'Male', 'Yes', 'Sun', 'Dinner', 2)]



### DELETE
Delete records from the database that have a total bill that is less than $10.

In [43]:
with sqlite3.connect('tips.db') as conn:
    c = conn.cursor()
    c.execute('''
              SELECT
                    COUNT(*)
              FROM
                    tips
              WHERE
                    total_bill < :total_bill_threshold;
              ''', { 'total_bill_threshold': 10 })
    conn.commit()
    print(f'Number of rows before: {c.fetchall()[0][0]}')
    c.execute('''
              DELETE FROM
                    tips
              WHERE
                    total_bill < :total_bill_threshold;
              ''', { 'total_bill_threshold': 10 })
    conn.commit()
    c.execute('''
              SELECT
                    COUNT(*)
              FROM
                    tips
              WHERE
                    total_bill < :total_bill_threshold;
              ''', { 'total_bill_threshold': 10 })
    conn.commit()
    print(f'Number of rows before: {c.fetchall()[0][0]}')

Number of rows before: 17
Number of rows before: 0