In [40]:
import sqlite3
import pandas as pd

CREATE:

In [104]:
df = pd.read_csv('data/tips.csv')

try:
    df = pd.read_csv('data/tips.csv')

    with sqlite3.connect('tips.db') as conn:
        df.to_sql('tips', conn, if_exists='replace', index = False)

except Exception as e:
        print(e.with_traceback(None))

conn.close()

READ

In [108]:
try:
    with sqlite3.connect('tips.db') as conn:
        cursor = conn.cursor()
        
        print("\n1. Retrieve the average tip percentage for each day of the week")
        query1 = '''SELECT day, 
                    ROUND(SUM(tip)/SUM(total_bill)*100,2) AS tip_pct 
                    FROM tips 
                    GROUP BY day'''
        cursor.execute(query1)
        print("(day, tip_pct)")
        for row in cursor.fetchall():
            print(row)

        print("\n2. Find the maximum and minimum total bill amounts")
        query2 = '''SELECT MIN(total_bill) AS min_bill, 
                    MAX(total_bill) AS max_bill 
                    FROM tips'''
        cursor.execute(query2)
        print("(min_bill, max_bill)")
        for row in cursor.fetchall():
            print(row)

        print("\n3. Count the number of parties for each size")
        query3 = '''SELECT size, 
                    COUNT(size) AS number_of_parties
                    FROM tips 
                    GROUP BY size'''
        cursor.execute(query3)
        print("(size, number_of_parties)")
        for row in cursor.fetchall():
            print(row)

        print("\n4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%")
        query4 = '''SELECT SUM(total_bill) AS sum_bill, 
                    SUM(tip) AS sum_tip 
                    FROM tips 
                    WHERE size >= :querysize AND (tip/total_bill)*100 > :querypct'''
        cursor.execute(query4, {"querysize": 4, "querypct": 15})
        print("(sum_bill, sum_tip)")
        for row in cursor.fetchall():
            print(row)

        print("\n5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order")
        query5 = '''SELECT day, 
                    time, 
                    SUM(total_bill) AS sum_bill, 
                    SUM(tip) AS sum_tip, 
                    ROUND(SUM(tip)/SUM(total_bill)*100,2) AS tip_pct 
                    FROM tips 
                    GROUP BY day, time
                    ORDER BY tip_pct DESC'''
        cursor.execute(query5)
        print("(day, time, sum_bill, sum_tip, tip_pct)")
        for row in cursor.fetchall():
            print(row)

        print("\n6. Find the average tip percentage for each combination of day, time, and smoker status")
        query6 = '''SELECT day, 
                    time,
                    smoker,
                    ROUND(SUM(tip)/SUM(total_bill)*100,2) AS tip_pct 
                    FROM tips 
                    GROUP BY day, time, smoker'''
        cursor.execute(query6)
        print("(day, time, smoker, tip_pct)")
        for row in cursor.fetchall():
            print(row)

        print("\n7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records")
        query7 = '''SELECT sex,
                    SUM(total_bill) AS sum_bill, 
                    SUM(tip) AS sum_tip, 
                    ROUND(SUM(tip)/SUM(total_bill)*100,2) AS tip_pct 
                    FROM tips 
                    GROUP BY sex
                    ORDER BY sum_bill DESC
                    LIMIT :querylimit'''
        cursor.execute(query7, {"querylimit": 5})
        print("(sex, sum_bill, sum_tip, tip_pct)")
        for row in cursor.fetchall():
            print(row)

        print("\n8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount")
        query8 = '''SELECT day,
                    time,
                    "%tip max" AS aggregate_type, 
                    ROUND(MAX(tip/total_bill)*100,2) AS tip_pct, 
                    total_bill, 
                    tip
                    FROM tips 
                    GROUP BY day, time
                    UNION
                    SELECT day,
                    time,
                    "%tip min" AS aggregate_type, 
                    ROUND(MIN(tip/total_bill)*100,2) AS tip_pct, 
                    total_bill, 
                    tip
                    FROM tips 
                    GROUP BY day, time
                    ORDER BY day, time, aggregate_type'''
        cursor.execute(query8)
        print("(day, time, aggregate_type, tip_pct, total_bill, tip)")
        for row in cursor.fetchall():
            print(row)

        print("\n9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100")
        query9 = '''SELECT SUM(total_bill) AS sum_bill, 
                    SUM(tip) AS sum_tip, 
                    ROUND(tip/total_bill*100,2) as tip_pct
                    FROM tips 
                    WHERE size >= :querysize AND tip_pct > :querypct AND total_bill BETWEEN :querybillmin AND :querybillmax'''
        cursor.execute(query9, {"querysize": 4, "querypct": 15, "querybillmin": 50, "querybillmax": 100})
        print("(sum_bill, sum_tip, tip_pct)")
        for row in cursor.fetchall():
            print(row)

        print("\n10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records")
        query10 = '''SELECT day,
                    time,
                    smoker,
                    ROUND(SUM(tip)/SUM(total_bill)*100,2) as tip_pct,
                    COUNT(tip) AS count_record
                    FROM tips 
                    GROUP BY day, time, smoker
                    HAVING count_record > :mincount'''
        cursor.execute(query10, {"mincount": 5})
        print("(day, time, smoker, tip_pct, count_record)")
        for row in cursor.fetchall():
            print(row)

        print("\n11. ")


        print("\n12. ")


        print("\n13. ")


        print("\n14. ")


        print("\n15. ")

except Exception as e:
        print(e.with_traceback(None))

conn.close()

1. Retrieve the average tip percentage for each day of the week
(day, tip_pct)
('Fri', 15.94)
('Sat', 14.64)
('Sun', 15.2)
('Thur', 15.67)

2. Find the maximum and minimum total bill amounts
(min_bill, max_bill)
(3.07, 50.81)

3. Count the number of parties for each size
(size, number_of_parties)
(1, 4)
(2, 156)
(3, 38)
(4, 37)
(5, 5)
(6, 4)

4. Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%
(sum_bill, sum_tip)
(471.03, 90.06)

5. Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order
(day, time, sum_bill, sum_tip, tip_pct)
('Fri', 'Lunch', 89.92, 16.68, 18.55)
('Thur', 'Dinner', 18.78, 3.0, 15.97)
('Thur', 'Lunch', 1077.55, 168.83, 15.67)
('Sun', 'Dinner', 1627.16, 247.39, 15.2)
('Fri', 'Dinner', 235.96, 35.28, 14.95)
('Sat', 'Dinner', 1778.4, 260.4, 14.64)

6. Find the average tip percentage for each combination of day, time, and smoker status
(day, time, smoker, tip_pct)
('Fri', 'Dinner', 'No', 14.3)
('Fri', 'Dinner', 'Yes', 15.16)
('Fri', 'Lunch', 'No', 18.77)
('Fri', 'Lunch', 'Yes', 18.5)
('Sat', 'Dinner', 'No', 15.78)
('Sat', 'Dinner', 'Yes', 13.51)
('Sun', 'Dinner', 'No', 15.45)
('Sun', 'Dinner', 'Yes', 14.58)
('Thur', 'Dinner', 'No', 15.97)
('Thur', 'Lunch', 'No', 15.62)
('Thur', 'Lunch', 'Yes', 15.79)

7. Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records
(sex, sum_bill, sum_tip, tip_pct)
('Male', 3256.82, 485.07, 14.89)
('Female', 1570.95, 246.51, 15.69)

8. Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount
(day, time, aggregate_type, tip_pct, total_bill, tip)
('Fri', 'Dinner', '%tip max', 26.35, 16.32, 4.3)
('Fri', 'Dinner', '%tip min', 10.36, 28.97, 3.0)
('Fri', 'Lunch', '%tip max', 25.93, 13.42, 3.48)
('Fri', 'Lunch', '%tip min', 11.77, 13.42, 1.58)
('Sat', 'Dinner', '%tip max', 32.57, 3.07, 1.0)
('Sat', 'Dinner', '%tip min', 3.56, 32.83, 1.17)
('Sun', 'Dinner', '%tip max', 71.03, 7.25, 5.15)
('Sun', 'Dinner', '%tip min', 5.94, 16.99, 1.01)
('Thur', 'Dinner', '%tip max', 15.97, 18.78, 3.0)
('Thur', 'Dinner', '%tip min', 15.97, 18.78, 3.0)
('Thur', 'Lunch', '%tip max', 26.63, 7.51, 2.0)
('Thur', 'Lunch', '%tip min', 7.3, 18.64, 1.36)

9. Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100
(sum_bill, sum_tip, tip_pct)
(None, None, None)

10. Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records
(day, time, smoker, tip_pct, count_record)
('Fri', 'Dinner', 'Yes', 15.16, 9)
('Fri', 'Lunch', 'Yes', 18.5, 6)
('Sat', 'Dinner', 'No', 15.78, 45)
('Sat', 'Dinner', 'Yes', 13.51, 42)
('Sun', 'Dinner', 'No', 15.45, 57)
('Sun', 'Dinner', 'Yes', 14.58, 19)
('Thur', 'Lunch', 'No', 15.62, 44)
('Thur', 'Lunch', 'Yes', 15.79, 17)

11.

12.

13.

14.

15.

UPDATE:

In [102]:
try:
    with sqlite3.connect('tips.db') as conn:
        cursor = conn.cursor()

        print("\nUPDATE: Update the record that corresponds to id=10 and set smoker to Yes.")
        
        print("Existing record before update:")
        testquery_before = '''SELECT * 
                        FROM tips
                        WHERE ROWID = 10'''
        cursor.execute(testquery_before)
        print("(total_bill, tip, sex, smoker, day, time, size)")
        for row in cursor.fetchall():
            print(row)
        
        updatequery = '''UPDATE tips 
                        SET smoker = "Yes"
                        WHERE ROWID = 10'''
        cursor.execute(updatequery)

        print("Updated record:")
        testquery_after = '''SELECT * 
                        FROM tips
                        WHERE ROWID = 10'''
        cursor.execute(testquery_after)
        print("(total_bill, tip, sex, smoker, day, time, size)")
        for row in cursor.fetchall():
            print(row)

except Exception as e:
        print(e.with_traceback(None))

conn.close()

UPDATE: Update the record that corresponds to id=10 and set smoker to Yes.
Existing record before update:
(total_bill, tip, sex, smoker, day, time, size)
(14.78, 3.23, 'Male', 'No', 'Sun', 'Dinner', 2)
Updated record:
(total_bill, tip, sex, smoker, day, time, size)
(14.78, 3.23, 'Male', 'Yes', 'Sun', 'Dinner', 2)

DELETE:

In [103]:
try:
    with sqlite3.connect('tips.db') as conn:
        cursor = conn.cursor()

        print("\nDELETE: Delete records from the database that have a total bill that is less than $10.")
        
        print("Existing records with (total_bill < $10) BEFORE deletion:")
        testquery_before = '''SELECT * 
                                FROM tips
                                WHERE total_bill < 10'''
        cursor.execute(testquery_before)
        print("(total_bill, tip, sex, smoker, day, time, size)")
        for row in cursor.fetchall():
            print(row)

        deletequery = '''DELETE FROM tips 
                        WHERE total_bill < 10'''
        cursor.execute(deletequery)
        
        print("Records with (total_bill < $10) AFTER deletion:")
        testquery_after1 = '''SELECT * 
                                FROM tips
                                WHERE total_bill < 10'''
        cursor.execute(testquery_after1)
        print("(total_bill, tip, sex, smoker, day, time, size)")
        print(cursor.fetchall())
        
        print("AFTER deletion: Minimum total bill amounts")
        testquery_after2 = '''SELECT "MIN", MIN(total_bill) AS min_bill 
                                FROM tips'''
        cursor.execute(testquery_after2)
        print(cursor.fetchall())

except Exception as e:
        print(e.with_traceback(None))

conn.close()

DELETE: Delete records from the database that have a total bill that is less than $10.
Existing records with (total_bill < $10) BEFORE deletion:
(total_bill, tip, sex, smoker, day, time, size)
(8.77, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2)
(9.55, 1.45, 'Male', 'No', 'Sat', 'Dinner', 2)
(9.68, 1.32, 'Male', 'No', 'Sun', 'Dinner', 2)
(9.94, 1.56, 'Male', 'No', 'Sun', 'Dinner', 2)
(3.07, 1.0, 'Female', 'Yes', 'Sat', 'Dinner', 1)
(5.75, 1.0, 'Female', 'Yes', 'Fri', 'Dinner', 2)
(7.25, 1.0, 'Female', 'No', 'Sat', 'Dinner', 1)
(8.52, 1.48, 'Male', 'No', 'Thur', 'Lunch', 2)
(8.51, 1.25, 'Female', 'No', 'Thur', 'Lunch', 2)
(8.35, 1.5, 'Female', 'No', 'Thur', 'Lunch', 2)
(9.78, 1.73, 'Male', 'No', 'Thur', 'Lunch', 2)
(7.51, 2.0, 'Male', 'No', 'Thur', 'Lunch', 2)
(7.25, 5.15, 'Male', 'Yes', 'Sun', 'Dinner', 2)
(9.6, 4.0, 'Female', 'Yes', 'Sun', 'Dinner', 2)
(7.56, 1.44, 'Male', 'No', 'Thur', 'Lunch', 2)
(7.74, 1.44, 'Male', 'Yes', 'Sat', 'Dinner', 2)
(8.58, 1.92, 'Male', 'Yes', 'Fri', 'Lunch', 1)
Records with (total_bill < $10) AFTER deletion:
(total_bill, tip, sex, smoker, day, time, size)
[]
AFTER deletion: Minimum total bill amounts
[('MIN', 10.07)]