# Team Assignment #2

Team Sakia

# Importing libraries and loading CSV data file

In [54]:
import pandas as pd
import sqlite3

# Step 1: Load the CSV file into a DataFrame
df = pd.read_csv('data/tips.csv')

# Step 2: Connect to SQLite with a timeout
con = sqlite3.connect('tips.db', timeout=10)

# Step 3: Create a table in the SQLite database
df.to_sql('tips', con, if_exists='replace', index=False)

# Step 4: Commit the transaction and close the connection
con.commit()
con.close()

# Display the DataFrame
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# SQL Queries

## Question 1

Retrieve the average tip percentage for each day of the week

In [19]:
con = sqlite3.connect('tips.db')
c = con.cursor()
c.execute('''SELECT day, SUM(tip)/SUM(total_bill)*100 AS avg_tip_per_day
          FROM tips
          GROUP BY day''')

con.commit()

df_q1 = pd.DataFrame(c.fetchall(), columns=['day', 'average_tip_per_day'])

print(df_q1)

con.close()

    day  average_tip_per_day
0   Fri            15.944519
1   Sat            14.642375
2   Sun            15.203791
3  Thur            15.673201

In [21]:
con = sqlite3.connect('tips.db')
c = con.cursor()
c.execute('''SELECT day, SUM(tip/total_bill*100)/COUNT(day)
          FROM tips
          GROUP BY day''')

con.commit()

df_q1 = pd.DataFrame(c.fetchall(), columns=['day', 'average_tip_per_day'])

print(df_q1)

con.close()

    day  average_tip_per_day
0   Fri            16.991303
1   Sat            15.315172
2   Sun            16.689729
3  Thur            16.127563

## Question 2

Find the maximum and minimum total bill amounts

In [18]:
con = sqlite3.connect('tips.db')
c = con.cursor()
c.execute('''SELECT MAX(total_bill) AS max, MIN(total_bill) AS min
          FROM tips''')

con.commit()

df_q2 = pd.DataFrame(c.fetchall(), columns=['min_total_bill', 'max_total_bill'])

print(df_q2)

con.close()

   min_total_bill  max_total_bill
0           50.81            3.07

## Question 3

Count the number of parties for each size

In [17]:
con = sqlite3.connect('tips.db')
c = con.cursor()
c.execute('''SELECT size, COUNT(size) AS count
          FROM tips
          GROUP BY size''')

con.commit()

df_q3 = pd.DataFrame(c.fetchall(), columns=['size', 'count'])

print(df_q3)

con.close()

   min_total_bill  max_total_bill
0               1               4
1               2             156
2               3              38
3               4              37
4               5               5
5               6               4

## Question 4

Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%

In [40]:
con = sqlite3.connect('tips.db')
c = con.cursor()
c.execute('''SELECT size, total_bill, tip, tip/total_bill*100 AS tip_percentage
          FROM tips
          WHERE size >= 4 AND tip_percentage > 15
          ORDER BY size''')
          

con.commit()

df_q4 = pd.DataFrame(c.fetchall(), columns=['size','total_bill', 'tip', 'tip_percentage'])

print(df_q4)

con.close()

    size  total_bill   tip  tip_percentage
0      4       25.29  4.71       18.623962
1      4       18.43  3.00       16.277808
2      4       39.42  7.58       19.228818
3      4       30.40  5.60       18.421053
4      4       32.40  6.00       18.518519
5      4       25.56  4.34       16.979656
6      4       18.29  3.76       20.557682
7      4       29.93  5.07       16.939526
8      4       21.50  3.50       16.279070
9      4       23.17  6.50       28.053517
10     4       20.53  4.00       19.483682
11     4       25.89  5.16       19.930475
12     4       48.33  9.00       18.621974
13     5       29.85  5.14       17.219430
14     5       20.69  5.00       24.166264
15     6       34.30  6.70       19.533528
16     6       27.05  5.00       18.484288

## Question 5

Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order

In [41]:
con = sqlite3.connect('tips.db')
c = con.cursor()
c.execute('''SELECT day, time, SUM(total_bill), SUM(tip), SUM(tip)/SUM(total_bill)*100 AS tip_percentage
          FROM tips
          GROUP BY day, time
          ORDER BY tip_percentage DESC''')
          

con.commit()

df_q5 = pd.DataFrame(c.fetchall(), columns=['day','time', 'total_bill', 'total_tip', 'tip_percentage'])

print(df_q5)

con.close()

    day    time  total_bill  total_tip  tip_percentage
0   Fri   Lunch       89.92      16.68       18.549822
1  Thur  Dinner       18.78       3.00       15.974441
2  Thur   Lunch     1077.55     168.83       15.667950
3   Sun  Dinner     1627.16     247.39       15.203791
4   Fri  Dinner      235.96      35.28       14.951687
5   Sat  Dinner     1778.40     260.40       14.642375

## Question 6

Find the average tip percentage for each combination of day, time, and smoker status

## Question 7

Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records

## Question 8

Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount

## Question 9 

Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100

## Question 10

Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records

## 5 additional queries

## UPDATE

It was determined that there was an error in the database. Please update the record that corresponds to id=10 and set smoker to Yes.

In [55]:
con = sqlite3.connect('tips.db')
c = con.cursor()

# Before update
c.execute('''SELECT *
          FROM tips
          WHERE ROWID = 10''')

print(c.fetchall())

c.execute('''UPDATE tips
          SET smoker = 'Yes'
          WHERE ROWID = 10''')

# After update
c.execute('''SELECT *
          FROM tips
          WHERE ROWID = 10''')

con.commit()

print(c.fetchall())

con.close()

[(14.78, 3.23, 'Male', 'No', 'Sun', 'Dinner', 2)]
[(14.78, 3.23, 'Male', 'Yes', 'Sun', 'Dinner', 2)]

## DELETE

Delete records from the database that have a total bill that is less than $10.