# Team Assignment #2

Team Sakia

# Importing libraries and loading CSV data file

In [18]:
import pandas as pd
import sqlite3

# Step 1: Load the CSV file into a DataFrame
df = pd.read_csv('data/tips.csv')

# Step 2: Connect to SQLite
con = sqlite3.connect('ta2-sakia.db')
cursor = con.cursor()

# Step 3: Create a table in the SQLite database
df.to_sql('ta2-sakia-table', con, if_exists='replace', index=False)

# Step 4: Commit the transaction and close the connection
# con.commit()
# con.close()

df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# SQL Queries

## Question 1

Retrieve the average tip percentage for each day of the week

## Question 2

Find the maximum and minimum total bull amounts

## Question 3

Count the number of parties for each size

## Question 4

Retrieve the total bill and tip for parties of size 4 or more, where the tip percentage is greater than 15%

## Question 5

Retrieve the total bill, tip amount, and tip percentage for each combination of day and time, sorted by tip percentage in descending order

## Question 6

Find the average tip percentage for each combination of day, time, and smoker status

## Question 7

Retrieve the total bill, tip amount, and tip percentage for each sex, sorted by total bill in descending order, and limit the results to the top 5 records

## Question 8

Find the maximum and minimum tip percentage for each day and time combination, along with the corresponding total bill and tip amount

## Question 9 

Retrieve the total bill, tip amount, and tip percentage for parties of size 4 or more, where the tip percentage is greater than 15%, and the total bill is between $50 and $100

## Question 10

Find the average tip percentage for each combination of day, time, and smoker status, but only include combinations with more than 5 records

## 5 additional queries

## UPDATE

It was determined that there was an error in the database. Please update the record that corresponds to id=10 and set smoker to Yes.

## DELETE

Delete records from the database that have a total bill that is less than $10.